.updateForm-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.updateForm-container  button{
    max-width: 300px;
    align-self: center;
}

.updateForm{
    display: grid;
    grid-template-columns: 50% 50%;
}

.updateForm div{
    margin: 8px;
}

