body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.paramContainer{
    background-color:white;
    border:1px solid gray;
    border-radius:25px;
    padding:15px;
    margin-top:15px;
    width:90%;
    display:flex;
    flex-direction:column;
    align-items:center;
}
    .paramContainer TextField {
        margin: 10px 0px;
    }
